---
layout: base
---

<p>
The ATC Tower Training Simulator is an addon for Prepar3d that allows a user to practice air traffic controlling in the terminal environment using voice commands. 
</p>
<p>
    <b>Features:</b>
    <ul>
        <li>Practice real-world phraseology</li>
        <li>Sharpen your controlling skills is a challenging and realistic tower environment</li>
    </ul>
</p>