header {
    background-color: darkblue;
    color: white;
}

body {
    background-color: beige;
}

nav {
    height: 1.45em;
    background-color:darkblue;
}

nav a {
    float: left;
    color: white;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 1.2em;
    border-right: 1px solid white;
}

#content {
    width: 90%;
    background-color: white;
    margin: auto;
}

.active {
    background-color: white;
    color: black;
}