<!DOCTYPE html>

<html>
    
    {% assign homepage = "/" %}
    {% assign plan = "/plan.html" %}
    
    <head>
        <title>Tower Trainer 2017</title>
        <meta charset="utf-8">     
        <meta name="generator" content="GitLab Pages">
        <link rel=stylesheet href="main.css">
    </head>
    
    <div id="content">
        <header>
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/00/Verkeerstoren_Brussels_Airport.jpg" alt="Verkerstorren Brussels Airport" width=100% height=300px>
        </header>

        <nav>
            <a {% if page.url == "/" %}class=active {% endif %} href="index.html">Home</a>
            <a {% if page.url == "/plan.html" %}class=active {% endif %} href="plan.html">Project Plan</a>
            <a {% if page.url == "/design.html" %}class=active {% endif %} href="design.html">Design Document</a>
            <a {% if page.url == "/testing.html" %}class=active {% endif %} href="testing.html">Testing Document</a>
            <a {% if page.url == "/requirements.html" %}class=active {% endif %} href="requirements.html">Requirements Document</a>
        </nav>

        <body>

                {{content}}
        </body>
    
    </div>
</html>